body {
  text-align: center;
  background-color: #283149;
}

h1 {
  font-size: 5rem;
  color: #DBEDF3;
  font-family: "Arvo", cursive;
  text-shadow: 3px 0 #DA0463;
}

.set {
  margin: 10% auto;
}

.drum {
  cursor: pointer; /* Show a pointer cursor to indicate it's clickable */
  width: 150px;
  height: 150px;
  margin: 10px;
  border-radius: 15px;
}

.pressed {
  box-shadow: 0 3px 4px 0 #DBEDF3;
  opacity: 0.5;
}
